/.idea
*.pyc

.env/*
logs/*
media/*
cover/*
migrations

.DS_Store
._*
.~*#
*.swp
*.swo
*.swn
.svn
*.orig
_build
build
dist
*.egg-info

activate
settings_local.py

static/django_js_utils.js
static/admin/*
static/grappelli/*
static/filebrowser/*
static/CACHE/*
static/scripts/*
